.container{

    
   width: 30%;
    min-width: 300px;
}

.form{
    gap: 10px;
    display: flex;
    margin: 10px 0px;
    flex-direction: row;
    
}

.form > input {
    flex: 4;
    height: 20px;
    padding: 10px;
    font-size: 16px;
}

.form > button {
    flex: 1;
  
}

.item{
    margin: 2px;
    display: flex;
    align-items: center;
    border: solid 1px black;
    margin-bottom: 5px;
    border-radius: 10px;
    justify-content: space-between;
}

.item > p{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.item > div> span{
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
    margin-right: 10px;
    
}

.item > div:hover{
    color: red;

}